{##
 # USPS module settings main page template
 #}
<div class="usps-info">
  <div class="shipping-description">
    {{ t('U.S.P.S. module allows you to use online shipping rates calculation via USPS Web Tools Ecommerce API.')|raw }}
  </div>

  {% set promoName = 'usps-via-pb-1' %}
  {% if this.isPromoBlockVisible(promoName) %}
    <div class="usps-pitney-bowes-promo promo-block" data-promo-id="{{ promoName }}">
      <div class="pitney-bowes-logo" align="center">
        <img src="{{ this.layout.getResourceWebPath('modules/CDev/USPS/images/pitney_bowes.jpg') }}" alt="{{ t('PitneyBowes') }}" class="logo" />
      </div>
      <div class="usps-pitney-bowes-promo-header">
        {{ t('USPS via Pitney Bowes brings you competitive and discounted USPS pricing via the X-Cart 5 interface. Print shipping labels with ease and track USPS shipments from origin to delivery with Pitney Bowes and X-Cart.') }}
      </div>
      <div class="close promo-block-close" data-promo-selector=".usps-pitney-bowes-promo">
        {{ this.displaySVGImage('images/icon-close-round.svg') }}
      </div>
    </div>
  {% endif %}

</div>

<div class="pitney-bowes-info{% if this.getDataProvider() != 'pitneyBowes' %} hidden{% endif %}">
  <div class="shipping-description">
    {{ t('To use the USPS via Pitney Bowes Shipping APIs, you need to register via this link and then enter the email address you have used for registration into the field below.', {url: this.getRegistrationURL()})|raw }}
  </div>
</div>

{{ widget('XLite\\Module\\CDev\\USPS\\View\\Model\\Settings') }}
